body{
  background: url(2.png);
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #000000;
  box-sizing: border-box;
}
p{
	margin: 0;
}
.grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	"contenido";
	border: 1px solid black;
}
.aumentado{
	grid-area: contenido;
	background-color: #38373760;
	height: 100vh;
	display: flex;
}
.aumentado>img{
	height: auto;
	width: auto;
	margin: auto;
}
.contenido{
	grid-area: contenido;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"inicio inicio inicio inicio inicio"
	"input botonadd botonclr favorites clrfavs"
	"razas razas razas razas razas"
	"fotos fotos fotos fotos fotos";
	grid-row-gap: 10px;
}

.inicio{grid-area: inicio;background-color: #80808080;}

.campotext{grid-area: input;}

.prueba{grid-area: prueba;}

.moar{grid-area: botonadd;}

.minus{grid-area: botonclr;}

.favs{grid-area: favorites;}

.clrfavs{grid-area: clrfavs;}

.lista{
	grid-area: razas;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
	background-color: #B68F30;
}
.raza{
	cursor:pointer;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.raza:hover{
	background-color: gray;
}

.fotitos{grid-area: fotos;}

.foto{
	height: 350px;
	width: auto;
	grid-area: imagenperro;
	cursor: pointer;
}
.foto:hover{
	filter: brightness(150%) saturate(2);
}
.containfoto{
	height: 370px;
	overflow: hidden;
	display: inline-grid;
	grid-template-rows: 1fr 0.25fr;
	grid-template-areas: "imagenperro imagenperro" "botong botonf";
	margin: 0 10px 10px 0;
	border-radius: 10px;
}

.peque1{
	height: 20px;
	grid-area: botong;
	cursor: pointer;
}
.peque1:hover{
	background-color: blue;
}

.peque2{
	height: 20px;
	grid-area: botonf;
	cursor: pointer;
}
.peque2:hover{
	background-color:yellow;
}

.chosen{
	background-color: yellow;
}