body{
  background-color: #84FF00;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #000000;
  box-sizing: border-box;
}
p{
	margin: 0;
}
.grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	"app";
	border: 1px solid black;
}

#app{
	grid-area: app;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"inicio inicio inicio inicio inicio"
	". input botonadd botonclr ."
	"razas razas razas razas razas"
	"fotos fotos fotos fotos fotos";
}

.inicio{grid-area: inicio;}

.campotext{grid-area: input;}

.prueba{grid-area: prueba;}

.moar{grid-area: botonadd;}

.minus{grid-area: botonclr;}

.lista{
	grid-area: razas;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
}
.raza{
	cursor:pointer;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.raza:hover{
	background-color: gray;
}

.fotitos{grid-area: fotos;}

.foto{
	height: 350px;
	width: auto;
}